#GridPane{
    -fx-background-image: url("HeroesIcon/dota.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;

}





.TextStyle {

    -fx-text-fill: blue;
    -fx-underline: true;
}

#BorderPane {
    -fx-background-image: url("HeroesIcon/name.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}
#BorderPaneLeft {
    -fx-background-image: url("HeroesIcon/left.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center ;
}